<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

  <key>Label</key>
  <string>com.resy.bot</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>   <integer>9</integer>   <!-- 09 = 9 AM local time -->
    <key>Minute</key> <integer>0</integer>
  </dict>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-c</string>
    <string>$HOME/resy-booking-bot/resy-bot.sh</string>
  </array>

  <key>Timeout</key>
  <integer>300</integer>

  <key>StartOnMount</key>
  <true/>

  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
